# Tutorial 1: History of tokens

### Query parameter explanations:

 - **o_rev_id**: The ID of the revision where the token was added originally in the article.
 - **editor**: The user ID of the editor. User IDs are integers, are unique for the whole Wikipedia and can be used to fetch the current name of a user. 
 - **token**: Actual token value as string.
 - **token_id**: The token ID assigned internally by the WikiWho algorithm, unique per article.
 - **in**: If empty, the token has never been reintroduced after deletion. Else, revisions where the token was *REinserted* after being deleted previously, ordered sequentially by time.
 - **out**: If empty, the token has never been deleted. Else, revisions in which the token was *deleted*, ordered sequentially by time.

In [1]:
from wikiwho_wrapper import WikiWhoAPI, APIQuerier

api = WikiWhoAPI()

querier = APIQuerier(api)

df = querier.all_content(article="bioglass") 
# df = querier.all_content(2161298)
# df = querier.all_content(article="evolution") # takes a minute or so

# Examples

### Case of multiple editions
The token "sida" originally inserted in revision '189370281',deleted in '189370332', reinserted in '189371159', deleted again in '189371182', reinserted again in '189537330', and finaly deleted in '191585577'.

In [5]:
df[df['token_id'] == 378]

,article_title,page_id,o_rev_id,o_editor,token,token_id,in,out
381,Bioglass,2161298,189370281,0|129.31.242.26,sida,378,-1,189370332
382,Bioglass,2161298,189370281,0|129.31.242.26,sida,378,189371159,189371182
383,Bioglass,2161298,189370281,0|129.31.242.26,sida,378,189537330,191585577

### Case of token that reinserted
The token 'bioglass' originally inserted in revision '18064039', deleted in '758323388', and reinserted in '758323485'.

In [16]:
df[df['token_id'] == 0]

,article_title,page_id,o_rev_id,o_editor,token,token_id,in,out
0,Bioglass,2161298,18064039,0|81.172.143.232,bioglass,0,-1,758323388
1,Bioglass,2161298,18064039,0|81.172.143.232,bioglass,0,758323485,-1

### Case of token that inserted and don't deleted 
The token 'is' inserted in revision '18064039' and remained.

In [18]:
df[df['token_id'] == 2]

  article_title  page_id  o_rev_id          o_editor token  token_id  in  out
3      Bioglass  2161298  18064039  0|81.172.143.232    is         2  -1   -1

### Tokens that exist in the page

In [19]:
df[df['out'] == -1]

,article_title,page_id,o_rev_id,o_editor,token,token_id,in,out
1,Bioglass,2161298,18064039,0|81.172.143.232,bioglass,0,758323485,-1
3,Bioglass,2161298,18064039,0|81.172.143.232,is,2,-1,-1
4,Bioglass,2161298,18064039,0|81.172.143.232,a,3,-1,-1
7,Bioglass,2161298,18064039,0|81.172.143.232,of,6,-1,-1
90,Bioglass,2161298,18834333,82590,[[,87,-1,-1
94,Bioglass,2161298,18834333,82590,]],91,-1,-1
173,Bioglass,2161298,78391371,527862,{{,170,-1,-1
178,Bioglass,2161298,78391371,527862,}},175,-1,-1
182,Bioglass,2161298,79583319,1623918,[[,179,-1,-1
183,Bioglass,2161298,79583319,1623918,category,180,-1,-1
184,Bioglass,2161298,79583319,1623918,:,181,-1,-1
185,Bioglass,2161298,79583319,1623918,glass,182,-1,-1
186,Bioglass,2161298,79583319,1623918,]],183,-1,-1
444,Bioglass,2161298,191687756,2609833,{{,430,503771225,-1
446,Bioglass,2161298,191687756,2609833,glass,431,503771225,-1
448,Bioglass,2161298,191687756,2609833,science,432,503771225,-1
450,Bioglass,2161298,191687756,2609833,}},433,503771225,-1
491,Bioglass,2161298,283165607,2609833,compositions,474,-1,-1
545,Bioglass,2161298,363575227,294325,",",528,-1,-1
546,Bioglass,2161298,363575227,294325,composed,529,-1,-1
547,Bioglass,2161298,363575227,294325,of,530,-1,-1
561,Bioglass,2161298,363575227,294325,",",544,-1,-1
564,Bioglass,2161298,363575227,294325,oxide,547,-1,-1
784,Bioglass,2161298,363575227,294325,[[,767,-1,-1
788,Bioglass,2161298,363575227,294325,glass,771,-1,-1
789,Bioglass,2161298,363575227,294325,]],772,-1,-1
1080,Bioglass,2161298,363575227,294325,=,1063,-1,-1
1081,Bioglass,2161298,363575227,294325,=,1064,-1,-1
1082,Bioglass,2161298,363575227,294325,references,1065,-1,-1
1083,Bioglass,2161298,363575227,294325,=,1066,-1,-1
...,...,...,...,...,...,...,...,...
11103,Bioglass,2161298,855387192,34141009,=,10980,-1,-1
11104,Bioglass,2161298,855387192,34141009,1,10981,-1,-1
11105,Bioglass,2161298,855387192,34141009,–,10982,-1,-1
11106,Bioglass,2161298,855387192,34141009,3,10983,-1,-1
11107,Bioglass,2161298,855387192,34141009,|,10984,-1,-1
11108,Bioglass,2161298,855387192,34141009,year,10985,-1,-1
11109,Bioglass,2161298,855387192,34141009,=,10986,-1,-1
11110,Bioglass,2161298,855387192,34141009,2011,10987,-1,-1
11111,Bioglass,2161298,855387192,34141009,|,10988,-1,-1
11112,Bioglass,2161298,855387192,34141009,last1,10989,-1,-1
11113,Bioglass,2161298,855387192,34141009,=,10990,-1,-1
11114,Bioglass,2161298,855387192,34141009,sarkar,10991,-1,-1
11115,Bioglass,2161298,855387192,34141009,|,10992,-1,-1
11116,Bioglass,2161298,855387192,34141009,first1,10993,-1,-1
11117,Bioglass,2161298,855387192,34141009,=,10994,-1,-1
11118,Bioglass,2161298,855387192,34141009,swapan,10995,-1,-1
11119,Bioglass,2161298,855387192,34141009,kumar,10996,-1,-1
11120,Bioglass,2161298,855387192,34141009,|,10997,-1,-1
11121,Bioglass,2161298,855387192,34141009,last2,10998,-1,-1
11122,Bioglass,2161298,855387192,34141009,=,10999,-1,-1
11123,Bioglass,2161298,855387192,34141009,lee,11000,-1,-1
11124,Bioglass,2161298,855387192,34141009,|,11001,-1,-1
11125,Bioglass,2161298,855387192,34141009,first2,11002,-1,-1
11126,Bioglass,2161298,855387192,34141009,=,11003,-1,-1
11127,Bioglass,2161298,855387192,34141009,byong,11004,-1,-1
11128,Bioglass,2161298,855387192,34141009,taek,11005,-1,-1
11129,Bioglass,2161298,855387192,34141009,<,11006,-1,-1
11130,Bioglass,2161298,855387192,34141009,/,11007,-1,-1
11131,Bioglass,2161298,855387192,34141009,ref,11008,-1,-1
11132,Bioglass,2161298,855387192,34141009,>,11009,-1,-1

### Tokens that have been inserted

In [20]:
df[df['in'] == -1]

,article_title,page_id,o_rev_id,o_editor,token,token_id,in,out
0,Bioglass,2161298,18064039,0|81.172.143.232,bioglass,0,-1,758323388
2,Bioglass,2161298,18064039,0|81.172.143.232,®,1,-1,207995408
3,Bioglass,2161298,18064039,0|81.172.143.232,is,2,-1,-1
4,Bioglass,2161298,18064039,0|81.172.143.232,a,3,-1,-1
5,Bioglass,2161298,18064039,0|81.172.143.232,commerical,4,-1,18704296
6,Bioglass,2161298,18064039,0|81.172.143.232,product,5,-1,18907606
7,Bioglass,2161298,18064039,0|81.172.143.232,of,6,-1,-1
8,Bioglass,2161298,18064039,0|81.172.143.232,bioactive,7,-1,779393082
9,Bioglass,2161298,18064039,0|81.172.143.232,glasses,8,-1,18834333
10,Bioglass,2161298,18064039,0|81.172.143.232,.,9,-1,363575227
11,Bioglass,2161298,18064039,0|81.172.143.232,it,10,-1,363575227
12,Bioglass,2161298,18064039,0|81.172.143.232,is,11,-1,779390885
13,Bioglass,2161298,18064039,0|81.172.143.232,composed,12,-1,779390885
14,Bioglass,2161298,18064039,0|81.172.143.232,of,13,-1,779390885
15,Bioglass,2161298,18064039,0|81.172.143.232,varying,14,-1,18907606
16,Bioglass,2161298,18064039,0|81.172.143.232,amounts,15,-1,18907606
17,Bioglass,2161298,18064039,0|81.172.143.232,of,16,-1,18907606
18,Bioglass,2161298,18064039,0|81.172.143.232,si02,17,-1,18907606
19,Bioglass,2161298,18064039,0|81.172.143.232,",",18,-1,779390885
20,Bioglass,2161298,18064039,0|81.172.143.232,na2o,19,-1,18907606
21,Bioglass,2161298,18064039,0|81.172.143.232,",",20,-1,779390885
22,Bioglass,2161298,18064039,0|81.172.143.232,cao,21,-1,779390885
23,Bioglass,2161298,18064039,0|81.172.143.232,and,22,-1,779390885
24,Bioglass,2161298,18064039,0|81.172.143.232,p2o5,23,-1,18907606
25,Bioglass,2161298,18064039,0|81.172.143.232,.,24,-1,779390885
26,Bioglass,2161298,18064039,0|81.172.143.232,the,25,-1,18834333
27,Bioglass,2161298,18064039,0|81.172.143.232,development,26,-1,18834333
28,Bioglass,2161298,18064039,0|81.172.143.232,of,27,-1,18834333
29,Bioglass,2161298,18064039,0|81.172.143.232,bioglass,28,-1,18834333
30,Bioglass,2161298,18064039,0|81.172.143.232,was,29,-1,18834333
...,...,...,...,...,...,...,...,...
11103,Bioglass,2161298,855387192,34141009,=,10980,-1,-1
11104,Bioglass,2161298,855387192,34141009,1,10981,-1,-1
11105,Bioglass,2161298,855387192,34141009,–,10982,-1,-1
11106,Bioglass,2161298,855387192,34141009,3,10983,-1,-1
11107,Bioglass,2161298,855387192,34141009,|,10984,-1,-1
11108,Bioglass,2161298,855387192,34141009,year,10985,-1,-1
11109,Bioglass,2161298,855387192,34141009,=,10986,-1,-1
11110,Bioglass,2161298,855387192,34141009,2011,10987,-1,-1
11111,Bioglass,2161298,855387192,34141009,|,10988,-1,-1
11112,Bioglass,2161298,855387192,34141009,last1,10989,-1,-1
11113,Bioglass,2161298,855387192,34141009,=,10990,-1,-1
11114,Bioglass,2161298,855387192,34141009,sarkar,10991,-1,-1
11115,Bioglass,2161298,855387192,34141009,|,10992,-1,-1
11116,Bioglass,2161298,855387192,34141009,first1,10993,-1,-1
11117,Bioglass,2161298,855387192,34141009,=,10994,-1,-1
11118,Bioglass,2161298,855387192,34141009,swapan,10995,-1,-1
11119,Bioglass,2161298,855387192,34141009,kumar,10996,-1,-1
11120,Bioglass,2161298,855387192,34141009,|,10997,-1,-1
11121,Bioglass,2161298,855387192,34141009,last2,10998,-1,-1
11122,Bioglass,2161298,855387192,34141009,=,10999,-1,-1
11123,Bioglass,2161298,855387192,34141009,lee,11000,-1,-1
11124,Bioglass,2161298,855387192,34141009,|,11001,-1,-1
11125,Bioglass,2161298,855387192,34141009,first2,11002,-1,-1
11126,Bioglass,2161298,855387192,34141009,=,11003,-1,-1
11127,Bioglass,2161298,855387192,34141009,byong,11004,-1,-1
11128,Bioglass,2161298,855387192,34141009,taek,11005,-1,-1
11129,Bioglass,2161298,855387192,34141009,<,11006,-1,-1
11130,Bioglass,2161298,855387192,34141009,/,11007,-1,-1
11131,Bioglass,2161298,855387192,34141009,ref,11008,-1,-1
11132,Bioglass,2161298,855387192,34141009,>,11009,-1,-1

### Tokens that reinserted

In [14]:
df[(df['out'] == -1) & (df['in'] != -1)]

,article_title,page_id,o_rev_id,o_editor,token,token_id,in,out
1,Bioglass,2161298,18064039,0|81.172.143.232,bioglass,0,758323485,-1
444,Bioglass,2161298,191687756,2609833,{{,430,503771225,-1
446,Bioglass,2161298,191687756,2609833,glass,431,503771225,-1
448,Bioglass,2161298,191687756,2609833,science,432,503771225,-1
450,Bioglass,2161298,191687756,2609833,}},433,503771225,-1
1314,Bioglass,2161298,363578879,294325,it,1296,779396265,-1
1316,Bioglass,2161298,363578879,294325,can,1297,779396265,-1
1318,Bioglass,2161298,363578879,294325,be,1298,779396265,-1
1320,Bioglass,2161298,363578879,294325,[[,1299,779396265,-1
1322,Bioglass,2161298,363578879,294325,machined,1300,779396265,-1
1324,Bioglass,2161298,363578879,294325,]],1301,779396265,-1
1326,Bioglass,2161298,363578879,294325,",",1302,779396265,-1
1328,Bioglass,2161298,363578879,294325,preferably,1303,779396265,-1
1330,Bioglass,2161298,363578879,294325,with,1304,779396265,-1
1332,Bioglass,2161298,363578879,294325,diamond,1305,779396265,-1
1334,Bioglass,2161298,363578879,294325,tools,1306,779396265,-1
1336,Bioglass,2161298,363578879,294325,",",1307,779396265,-1
1338,Bioglass,2161298,363578879,294325,or,1308,779396265,-1
1340,Bioglass,2161298,363578879,294325,ground,1309,779396265,-1
1342,Bioglass,2161298,363578879,294325,to,1310,779396265,-1
1344,Bioglass,2161298,363578879,294325,powder,1311,779396265,-1
1346,Bioglass,2161298,363578879,294325,.,1312,779396265,-1
1348,Bioglass,2161298,363578879,294325,bioglass,1313,830824386,-1
1350,Bioglass,2161298,363578879,294325,has,1314,830824386,-1
1352,Bioglass,2161298,363578879,294325,to,1315,830824386,-1
1354,Bioglass,2161298,363578879,294325,be,1316,830824386,-1
1356,Bioglass,2161298,363578879,294325,stored,1317,830824386,-1
1358,Bioglass,2161298,363578879,294325,in,1318,830824386,-1
1360,Bioglass,2161298,363578879,294325,a,1319,830824386,-1
1362,Bioglass,2161298,363578879,294325,dry,1320,830824386,-1
...,...,...,...,...,...,...,...,...
3104,Bioglass,2161298,363589876,294325,bone,3010,779406177,-1
3106,Bioglass,2161298,363589876,294325,reconstruction,3011,779406177,-1
3108,Bioglass,2161298,363589876,294325,.,3012,779406177,-1
3263,Bioglass,2161298,363601556,294325,heat,3166,779393082,-1
3265,Bioglass,2161298,363601556,294325,treatment,3167,779393082,-1
3267,Bioglass,2161298,363601556,294325,of,3168,779393082,-1
3269,Bioglass,2161298,363601556,294325,bioglass,3169,779393082,-1
3271,Bioglass,2161298,363601556,294325,reduces,3170,779393082,-1
3273,Bioglass,2161298,363601556,294325,the,3171,779393082,-1
3275,Bioglass,2161298,363601556,294325,volatile,3172,779393082,-1
3277,Bioglass,2161298,363601556,294325,alkali,3173,779393082,-1
3279,Bioglass,2161298,363601556,294325,metal,3174,779393082,-1
3281,Bioglass,2161298,363601556,294325,oxide,3175,779393082,-1
3283,Bioglass,2161298,363601556,294325,content,3176,779393082,-1
3285,Bioglass,2161298,363601556,294325,and,3177,779393082,-1
3287,Bioglass,2161298,363601556,294325,precipitates,3178,779393082,-1
3289,Bioglass,2161298,363601556,294325,apatite,3179,779393082,-1
3291,Bioglass,2161298,363601556,294325,crystals,3180,779393082,-1
3293,Bioglass,2161298,363601556,294325,in,3181,779393082,-1
3295,Bioglass,2161298,363601556,294325,the,3182,779393082,-1
3297,Bioglass,2161298,363601556,294325,glass,3183,779393082,-1
3299,Bioglass,2161298,363601556,294325,matrix,3184,779393082,-1
3301,Bioglass,2161298,363601556,294325,.,3185,779393082,-1
4845,Bioglass,2161298,384627726,294325,annealing,4728,779393082,-1
4847,Bioglass,2161298,384627726,294325,(,4729,779393082,-1
4849,Bioglass,2161298,384627726,294325,glass,4730,779393082,-1
4851,Bioglass,2161298,384627726,294325,),4731,779393082,-1
4853,Bioglass,2161298,384627726,294325,|,4732,779393082,-1
5469,Bioglass,2161298,778392489,30126476,applications,5347,779572435,-1
6791,Bioglass,2161298,779120877,30126467,.,6668,779571895,-1

### Number of times tokens have been inserted

In [28]:
sizes = df.groupby('token_id').size()
dfs = sizes.to_frame().sort_values(0)
dfs

          0
token_id
5504      1
7335      1
7336      1
7337      1
7338      1
7339      1
7340      1
7341      1
7342      1
7343      1
7344      1
7345      1
7346      1
7347      1
7348      1
7349      1
7350      1
7351      1
7334      1
7333      1
7332      1
7331      1
7313      1
7314      1
7315      1
7316      1
7317      1
7318      1
7319      1
7320      1
...      ..
1312      2
1378      2
1377      2
1376      2
1332      2
1331      2
1330      2
1329      2
1328      2
1327      2
1311      2
1325      2
1326      2
1323      2
1313      2
1314      2
1324      2
1316      2
1317      2
1315      2
1319      2
1320      2
1321      2
1322      2
1318      2
382       3
381       3
380       3
379       3
378       3

[11010 rows x 1 columns]